<!DOCTYPE html>
<html lang="en" data-th-fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" th:href="@{/css/style.css}"/>
<body>


<div class="n-support">请使用Chrome、Safari等webkit内核的浏览器！</div><div class="n-head">
    <div class="g-doc f-cb">
        <div class="user">
            卖家你好，<span class="name">seller</span>！<a href="/logout">[退出]</a>
        </div>
        <ul class="nav">
            <li><a href="/s/sellerHome">首页</a></li>
            <li><a href="/s/newgood">发布</a></li>
        </ul>
    </div>
</div>


</body>
</html>