
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>java</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head><body>

<div th:replace="fragments/buyerheader :: header"/>

<div class="g-doc" id="settleAccount">
    <div class="m-tab m-tab-fw m-tab-simple f-cb" >
        <h2>已添加到购物车的内容</h2>
    </div>
    <table id="goodTable" class="m-table m-table-row n-table g-b3">
        <tbody><th>内容名称</th><th>数量</th><th>单价</th><th>操作</th>

        <tr th:each="c: ${cart}" id="go">
            <td th:text="${c.goodname}" th:id="${c.id}"></td>
            <td>
                <span class="lessNum"><button style="width: 20px" onclick="minusonegood()">-</button></span>
                <span class="totalNum" id="allNum" th:text="${c.goodcount}"></span>
                <span class="moreNum"><button style="width: 20px" onclick="addonegood()">+</button></span>
            </td>
            <td th:text="${c.priceper}">11111</td>
            <td><a th:href="'/delete/'+${c.id}">删除</a></td>
        </tr>
        </tbody>
    </table>

    <div id="act-btn">
        <button class="u-btn u-btn-primary" id="back">退出</button>
        <button class="u-btn u-btn-primary" id="Account" onclick="submitorder()">购买</button>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>


</body>
</html>