<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>java</title>

</head><body>

<div th:replace="fragments/buyerheader :: header"/>
<div class="n-support">请使用Chrome、Safari等webkit内核的浏览器！</div><div class="n-head">
    <div class="g-doc f-cb">
        <div class="user">
            买家你好，<span class="name">buyer</span>！<a href="/logout">[退出]</a>
        </div>
        <ul class="nav">
            <li><a href="/b/buyerHome">首页</a></li>
            <li><a href="/b/account">账务</a></li>
            <li><a href="/b/carthome">购物车</a></li>
        </ul>
    </div>
</div>

</div>
<div class="g-doc">
    <div class="n-show f-cb" id="showContent">
        <div class="img"><img th:src="@{'/image/'+${good.picurl}}" alt="" ></div>
        <div class="cnt">
            <h2 th:text="${good.title}"></h2>
            <p class="summary" th:text="${good.abstra}"></p>
            <div class="num">购买数量：

                <span class="totalNum" id="allNum" th:text="${good.count}">1</span>

            </div>
            <div class="price">
                当时购买价格<span class="v-unit">¥</span><span th:text="${good.price}"></span>
            </div>
            <div class="oprt f-cb">
                <button   class="u-btn u-btn-primary z-dis" >已购买</button>

            </div>
        </div>
    </div>
    <div class="m-tab m-tab-fw m-tab-simple f-cb">
        <h2>详细信息</h2>
    </div>
    <div class="n-detail" th:text="${good.content}">

    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>